:root{
    --boxColor: #0ff7;
}

body{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em) ;
    animation: move 15s linear infinite;
}

/*@keyframes move{
    0%{
        perspective: 10em;
    }
    50%{
        perspective: 50em;
    }
    100%{
        perspective: 10em;
    }
}*/

@keyframes move{
    0%{
        perspective-origin: 0% calc(50% - 2em) ;
    }
    50%{
        perspective-origin: 100% calc(50% - 2em) ;
    }
    100%{
        perspective-origin: 0% calc(50% - 2em) ;
    }
}

body:hover{
    perspective: 50em;
}

.scene{
    position: relative;
    transform-style: preserve-3d;
}

/* CUBE  */

.cube{
    width: 2em;
    height: 2em;

    position: absolute;
    top: -1em; 
    left: -1em; 
    
}

.cube .left, .right, .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxColor);
}

.cube .front{ transform: translateZ(1em); }
.cube .right{ transform: rotateY(90deg) translateZ(1em); }
.cube .back{ transform: rotateY(180deg) translateZ(1em); }
.cube .left{ transform: rotateY(270deg) translateZ(1em); }






/* FLOOR */

.floor{
    position: absolute;
    top: 1em;
    transform: 
        translate(-50%, -50%) /*was machst translate genau*/
        rotateX(90deg);
       
    width: 15em;
    height: 15em;
    background-image: repeating-conic-gradient(
            from 45deg,
         #111 0deg 90deg, 
         #222 90deg 180deg);
    background-size: 1em 1em;
}
